<!-- app.component.html -->
<div class="recipe-list">
  <div class="recipe-list-header default-border-all">
    <div class="recipe-list-header-title">
      <div>&#91;</div>
      &lbrace;Recipe Name&rbrace;
    </div>
    <div class="recipe-list-header-type"></div>
  </div>
  <div
    *ngFor="let recipe of currentRecipes"
    class="recipe-list-item {{ mapFoodTypeName(recipe.type) }}"
  >
    <div>{{ recipe.name }}</div>
  </div>
  <div class="recipe-list-footer default-border-all">
    <div>
      <button class="recipe-list-footer-button" (click)="previousPage()">
        <i class="material-icons">arrow_back</i>
      </button>
      <span class="recipe-list-footer-text"
        >page {{ currentPage }} of {{ allPages }}</span
      >
      <button class="recipe-list-footer-button" (click)="nextPage()">
        <i class="material-icons">arrow_forward</i>
      </button>
      &rbrace;&#93;
    </div>
  </div>
</div>
