<div style="height: 90vh; overflow-y: scroll">
  <div class="search-card">
    <button class="search-button">
      <span class="strange-thing material-icons">search</span>
    </button>

    <div class="search-container">
      <input
        #searchInput
        placeholder="Ctrl + F"
        class="search-input"
        ripple
        (focus)="addRippleEffect()"
        (input)="searchService.updateSearchTerm(searchInput.value)"
      />

      <app-drop-down></app-drop-down>
    </div>
  </div>
  <app-recipes-table></app-recipes-table>
</div>
