$scrollbar-width: 8px;
$scrollbar-thumb-color: rgba(136, 136, 136, 0.1); // 10% opacity
$scrollbar-thumb-hover-color: #555;
$scrollbar-thumb-border-radius: 20px;
$scrollbar-thumb-scrolling-color: #888; // color when scrolling

.container {
  display: flex;
  height: 89vh;
  padding:0.5rem;

  .divisor{
    border-right: 1px solid black;
  }

  .column {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    margin-right:6px;

    &:last-child {
      border-right: none;
      margin-right:0px;
    }
  }
}

::-webkit-scrollbar {
  width: $scrollbar-width;

  &-track {
    background: transparent;
  }

  &-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: $scrollbar-thumb-border-radius;
    transition: background-color 0.3s ease-in-out; // smooth transition
    &:hover {
      background: $scrollbar-thumb-hover-color;
    }
  }
}

.column.scrolling::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-scrolling-color;

}
