$scrollbar-width: 8px;
$scrollbar-thumb-color: rgba(136, 136, 136, 0.1); // 10% opacity
$scrollbar-thumb-hover-color: #555;
$scrollbar-thumb-border-radius: 20px;
$scrollbar-thumb-scrolling-color: #888; // color when scrolling
$most-rated-title-color: #c5170a; // Futuristic cyan
$most-rated-title-size: 1.5em; // Larger size for emphasis


@keyframes neon {
  0%,
  100% {
    text-shadow:
      0 0 5px $most-rated-title-color,
      0 0 10px $most-rated-title-color,
      0 0 15px $most-rated-title-color,
      0 0 20px $most-rated-title-color;
  }
  50% {
    text-shadow:
      0 0 10px $most-rated-title-color,
      0 0 20px $most-rated-title-color,
      0 0 30px $most-rated-title-color,
      0 0 40px $most-rated-title-color;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  50.01% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  display: flex;
  height: 89vh;
  padding:0.5rem;
  overflow: visible; // Allow child elements to overflow the .container

  .divisor{
    border-right: 1px solid black;
  }

  .column {
    align-items: center;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    margin-right:6px;

    &:last-child {
      border-right: none;
      margin-right:0px;
    }

    span {
      color: $most-rated-title-color;
      font-size: $most-rated-title-size;
      text-transform: uppercase; // Capital letters for a modern look
      letter-spacing: 2px; // Spacing between letters for readability
      margin-bottom: 10px; // Space between the title and the cards
      // Neon effect with animation
      animation: neon 2s ease-in-out infinite;
    }
  }
  .content {
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 70px;
      z-index: 2;
    }

    &:before {
      top: 0;
      background: linear-gradient(to bottom, #0d1117, rgba(255, 255, 255, 0));
    }

    &:after {
      bottom: 0;
      background: linear-gradient(to top, #0d1117, rgba(255, 255, 255, 0));
    }

    .cards {
      animation: scroll 360s linear infinite;
    }
  }

}


::-webkit-scrollbar {
  width: $scrollbar-width;

  &-track {
    background: transparent;
  }

  &-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: $scrollbar-thumb-border-radius;
    transition: background-color 0.3s ease-in-out; // smooth transition
    &:hover {
      background: $scrollbar-thumb-hover-color;
    }
  }
}

.column.scrolling::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-scrolling-color;

}
