$scrollbar-width: 8px;
$scrollbar-thumb-color: rgba(136, 136, 136, 0.1);
$scrollbar-thumb-hover-color: #555;
$scrollbar-thumb-border-radius: 20px;
$scrollbar-thumb-scrolling-color: #888;
$most-rated-title-color: #faadad;
$last-updated-title-color: #e6f7a7;
$title-size: 1.5em;

@keyframes neon-last-updated {
  0%, 100% {
    text-shadow: 0 0 3px $last-updated-title-color, 0 0 6px $last-updated-title-color, 0 0 9px $last-updated-title-color, 0 0 12px $last-updated-title-color;
  }
  50% {
    text-shadow: 0 0 6px $last-updated-title-color, 0 0 12px $last-updated-title-color, 0 0 18px $last-updated-title-color, 0 0 24px $last-updated-title-color;
  }
}

@keyframes neon-most-rated {
  0%, 100% {
    text-shadow: 0 0 3px $most-rated-title-color, 0 0 6px $most-rated-title-color, 0 0 9px $most-rated-title-color, 0 0 12px $most-rated-title-color;
  }
  50% {
    text-shadow: 0 0 6px $most-rated-title-color, 0 0 12px $most-rated-title-color, 0 0 18px $most-rated-title-color, 0 0 24px $most-rated-title-color;
  }
}
.container {
  display: flex;
  height: 89vh;
  padding: 0.5rem;

  .divisor {
    border-right: 1px solid black;
  }

  .column {
    align-items: center;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    margin-right: 6px;
    margin-top: 3rem;

    &:last-child {
      border-right: none;
      margin-right: 0px;
    }

    .most-rated, .last-updated {
      color: $most-rated-title-color; // Adjusted to use the variable
      font-size: $title-size;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: -3rem;
      margin-left: 1rem;
      position: absolute;
      z-index: 10;

      &.most-rated {
        animation: neon-most-rated 4.5s ease-in-out infinite;
      }

      &.last-updated {
        animation: neon-last-updated 4.5s ease-in-out infinite;
      }
    }
  }
}

::-webkit-scrollbar {
  width: $scrollbar-width;

  &-track {
    background: transparent;
  }

  &-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: $scrollbar-thumb-border-radius;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background: $scrollbar-thumb-hover-color;
    }
  }
}

.column.scrolling::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-scrolling-color;
}

.fog, .fog-most-rated, .fog-bottom {
  width: 102%;
  height: 10%;
  position: sticky;
  margin-left: -10px !important;
  margin-right: -20px !important;

}

.fog {
  top: -10px;
  background: linear-gradient(to bottom, #0d1117, transparent);
}

.fog-most-rated {
  top: -10px;
  background: linear-gradient(to bottom, #0d1117, transparent);
  z-index: 9;
}

.fog-bottom {
  bottom: -10px;
  background: linear-gradient(to top, #0d1117,  transparent);
}
