$primary-color: #50fa7b;
$secondary-color: #bd93f9;
$background-color: #222325;
$text-color: #f8f8f2;
$shadow-color: rgba(0, 0, 0, 0.3);
$hover-shadow-color: rgba(0, 0, 0, 1);
$button-color: #44475a;

@mixin box-shadow($color) {
  box-shadow: -0.3rem 0 0.8rem 0 $color, 0rem 0 0.8rem 0 $color, 0 0.3rem 0.8rem 0 $color;
}

@mixin hover-box-shadow($color) {
  &:hover {
    box-shadow: -0.4rem 0 1.5rem 0 $color, 0rem 0 1.5rem 0 $color, 0 0.4rem 1.5rem 0 $color;
  }
}

.last-updated-card {
  width: min-content;
  margin: 0.5rem;

  &-title {
    padding: 0.5rem;
    font-size: 1.3rem;
    color: $primary-color;
    border-radius: 0px 10px 0px 0;
  }

  &-main-content {
    background-color: $background-color;
    color: $text-color;
    border-radius: 0 20px 20px 0;
    transition: all 0.3s ease;
    overflow: hidden;
    @include box-shadow($shadow-color);
    @include hover-box-shadow($hover-shadow-color);

    .card-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30vh;
      overflow: hidden;

      .ingredients-list {
        width: 17vw;
        align-items: center;

        ul li {
          height: 100%;
          border-bottom: 1px solid $button-color;
          margin-left: 3rem;
          margin-right: 3rem;
          max-width: 100%;
          font-size: 0.87rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: all 2s;
        }

        &:hover ul li {
          text-overflow: clip;
          animation: slide 10s linear infinite;
        }

        @keyframes slide {
          0% { text-indent: 0%; }
          50% { text-indent: -170%; }
          50.0000001% { text-indent: 100%; }
          100% { text-indent: 0%; }
        }
      }

      img {
        width: 28vw;
        height: 100%;
        object-fit: cover;

        &:hover {
          transform: (2);
        }
      }
    }
  }

  &-date {
    font-size: 1em;
    padding: 0.5em 1em 0;
    color: $secondary-color;
    text-align: right;
  }
}

.ingredients-list-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  &-btn {
    border: none;
    height: 10px;
    width: 8px;
    border-radius: 100%;
    color: $text-color;
    background-color: $button-color;
    margin: 0 5px;
    bottom: 0;

    &.selected {
      background-color: $primary-color;
    }
  }
}

ul {
  padding: 0px;
}
