  .last-updated-card {

    width: min-content;
    margin:0.5rem;

    &-title {
      padding: 0.5rem;
      font-size: 1.3rem;
      color: #50fa7b;
      border-radius: 0px 10px 0px 0;
    }

    &-main-content {
      background-color: #222325;
      color: #f8f8f2;
      border-radius: 0 20px 20px 0;
      transition: all 0.3s ease;
      overflow: hidden;
      box-shadow: -0.3rem 0 0.8rem 0 rgba(0, 0, 0, 0.3), 0rem 0 0.8rem 0 rgba(0, 0, 0, 0.3), 0 0.3rem 0.8rem 0 rgba(0, 0, 0, 0.3);

      &:hover {
        box-shadow: -0.4rem 0 1.5rem 0 rgba(0, 0, 0, 1), 0rem 0 1.5rem 0 rgba(0, 0, 0, 1), 0 0.4rem 1.5rem 0 rgba(0, 0, 0, 1);
      }


      .card-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30vh;
        overflow: hidden;


        .ingredients-list{
          width: 17vw;
          align-items: center;
        }
        .ingredients-list ul li {
          height: 100%;
          border-bottom: 1px solid #44475a;
          margin-left:3rem;
          margin-right:3rem;
          max-width: 100%;
          font-size: 0.87rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: all 2s;
        }

        .ingredients-list:hover ul li {
          text-overflow: clip;
          animation: slide 5s linear infinite;
        }

        @keyframes slide {
          0% { text-indent: 0%; }
          50% { text-indent: -100%; }
          50.0000001% { text-indent: 100%; }
          100% { text-indent: 0%; }
        }



        img {
          width: 28vw;
          height: 100%;
          object-fit: cover;
        }
        img:hover{
          transform: (2);
        }
      }
    }

    &-date {
      font-size: 1em;
      padding: 0.5em 1em 0;
      color: #bd93f9;
      text-align: right;
    }
  }

  .ingredients-list-page{

    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Add this line to prevent wrapping */
    justify-content: center; /* Or 'flex-start' for left alignment, 'flex-end' for right alignment */

    &-btn {

      border: none;
      height: 10px;
      width: 8px;
      border-radius: 100%;
      color: #f8f8f2;
      background-color: #44475a;
      margin: 0 5px;
      bottom:0;

      &.selected {
        background-color: #50fa7b;
      }
    }


  }

ul{

  padding: 0px
}
