$main-color: #0C0C0C;
$secondary-color: #252525;
$coffee-color: #b47757;
$lunch-color: #f7eb3c;
$dinner-color: #85c1e9;
$drinks-color: #e79b0c;
$others-color: #f5b7b1;


.recipe-list {
  margin: 4rem;


  &-header, &-footer {
    background-color: $main-color;
    color: white;
    padding: 1%;
    border-radius: 20px 20px 0 0;
    font-size: x-large;

    &-title{
      display: flex;
    }
  }

  &-item {
    color: #ffffff;
    padding: 1%;
    background-color: $main-color;
    // margin: 4px 0;
    border-left: 5px solid;
    border-color: transparent;
    transition: border-color 0.3s ease-in-out;
    border-right: 1px solid #30363d !important;

    &:hover {
      color: orange;
      background-color: $secondary-color;
    }

    &.Coffee {
      border-color: $coffee-color;

      &:hover {
        border-color: darken($coffee-color, 20%);
      }
    }

    &.Lunch {
      border-color: $lunch-color;

      &:hover {
        border-color: darken($lunch-color, 20%);
      }
    }

    &.Dinner {
      border-color: $dinner-color;

      &:hover {
        border-color: darken($dinner-color, 20%);
      }
    }

    &.Drinks {
      border-color: $drinks-color;

      &:hover {
        border-color: darken($drinks-color, 20%);
      }
    }

    &.Others {
      border-color: $others-color;

      &:hover {
        border-color: darken($others-color, 20%);
      }
    }
  }

  &-footer {
    border-radius: 0 0 20px 20px;

    &-button{
      background-color: transparent;
      color: white;
      appearance: none;
      border: none;
    }
  }
}
