$white: #ffffff;
$black: #0a0a0a05;
$accent: #66d9ef;
$light-grey: #383830;
$main-color: #49483e3d;
$secondary-color: #3e3d32;
$coffee-color: #a6e22e;
$lunch-color: #fd971f;
$dinner-color: #f92672;
$drinks-color: #ae81ff;
$others-color: #e6db74;
$scrollbar-width: 8px;
$scrollbar-thumb-color: #49483e;
$scrollbar-thumb-border-radius: 4px;
$scrollbar-thumb-hover-color: #75715e;
$scrollbar-thumb-scrolling-color: #a59f85;

.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: $white;
  background-color: $black;
  font-family: 'Fira Code', monospace;
  height: 92vh;
  overflow-y: auto;

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .user-photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1rem;
    }

    .username {
      color: $accent;
    }
  }

  .recipes-container {
    width: 100%;

    .user-recipes {
      width: 100%;

      h2 {
        color: $accent;
        margin-bottom: 1rem;
      }

      .recipe-list-container {
        height: 92vh;
        overflow-y: scroll;
      }

      .recipe-list {
        margin: 1rem;



        &-header,
        &-footer {
          background-color: $main-color;
          color: $white;
          padding: 1rem;
          border-radius: 20px 20px 0 0;
          font-size: 1.2rem;

          &-title {
            display: flex;
            align-items: center;
          }
        }

        &-item {
          color: $white;
          padding: 1rem;
          background-color: $main-color;
          border-left: 5px solid transparent;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            color: $accent;
            background-color: $secondary-color;
          }

          &.Coffee {
            border-color: $coffee-color;

            &:hover {
              border-color: darken($coffee-color, 20%);
            }
          }

          &.Lunch {
            border-color: $lunch-color;

            &:hover {
              border-color: darken($lunch-color, 20%);
            }
          }

          &.Dinner {
            border-color: $dinner-color;

            &:hover {
              border-color: darken($dinner-color, 20%);
            }
          }

          &.Drinks {
            border-color: $drinks-color;

            &:hover {
              border-color: darken($drinks-color, 20%);
            }
          }

          &.Others {
            border-color: $others-color;

            &:hover {
              border-color: darken($others-color, 20%);
            }
          }
        }

        &-footer {
          border-radius: 0 0 20px 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-button {
            background-color: transparent;
            color: $white;
            border: none;
            cursor: pointer;
          }

          &-text {
            color: $white;
          }
        }
      }
    }
  }

  .sign-out-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: $accent;
    color: $black;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: lighten($accent, 10%);
    }
  }
}

::-webkit-scrollbar {
  width: $scrollbar-width;

  &-track {
    background: transparent;
  }

  &-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: $scrollbar-thumb-border-radius;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background: $scrollbar-thumb-hover-color;
    }
  }
}


.submit-btn {
  background-color: $accent;
  border: none;
  padding: 0.5rem 1rem;
  color: $white;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 1rem;

  &:hover {
    background-color: lighten($accent, 10%);
  }

}
