// Variables
$white: #ffff;
$black: #000000;
$dark-gray: #010409;
$light-gray: #1a1c21;
$green: #50fa7b;
$font-size: 1.2rem;
$padding: 0.5rem 1rem;
$box-shadow-size: 2px 4px;
$transition-duration: 0.3s;
$after-height: 4px;

// Mixins
@mixin box-shadow($inset: false, $color: rgba(0, 0, 0, 0.1)) {
  box-shadow: if($inset, inset 0 $box-shadow-size $color, 0 $box-shadow-size $color);
}

// Navbar
.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: $dark-gray;
  align-items: center;

  .a-is-selected {
    color: #e2e2e26c;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-button {
    margin-left: 1rem;
    border-radius: 50%;
    font-size: 0rem;
    color: $white;
    appearance: none;
    border: none;
    padding: 0.25rem;
    background-color: $dark-gray;
    @include box-shadow();

    &:hover {
      background-color: $light-gray;
    }

    &:active {
      background-color: $black;
      @include box-shadow(true, rgba(107, 1, 1, 0.2));
    }

    &:focus {
      outline: 2px solid $green;
    }
  }

  a {
    flex: 1;
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color $transition-duration ease;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $after-height;
      background-color: transparent;
      transition: background-color $transition-duration ease;
    }

    &:hover:after {
      background-color: $green;
    }

    &:nth-child(6):hover {
      color: #fcacc8;
      &:after {
        background-color: #fcacc8;
      }
    }

    &:nth-child(3):hover {
      color: #84b6f4;
      &:after {
        background-color: #84b6f4;
      }
    }

    &:nth-child(5):hover {
      color: #fdfd96;
      &:after {
        background-color: #fdfd96;
      }
    }

    &:nth-child(4):hover {
      color: #bc98f3;
      &:after {
        background-color: #bc98f3;
      }
    }
  }
}

// Search Card
.search-card {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px 0 0 50px;
  overflow: hidden;
  flex-grow: 0.6;
}

.search-button {
  border: none;
  background-color: rgba(255, 255, 255, 0.034);
  color: #fff;
  border-radius: 50%;
  margin-right: -3rem;
  padding: 10px;
  width: 3rem;
  height: 3rem;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search-input {
  border: none;
  padding: 10px;
  margin-left: 3rem;
  flex-grow: 1;
  font-size: 18px;
  background-color: transparent;
  color: #fff;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    outline: none;
  }
}

.strange-thing {
  margin-top: 2px;
}

.ripple {
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(5);
    opacity: 0;
  }
}
