<nav class="navbar default-border-top-bottom">
  <div class="elements">
    <button class="menu-button">
      <i class="material-icons" [routerLink]="['/user/auth']">person</i>
    </button>
    <div class="spacer"></div>
    <ng-container *ngFor="let link of links">
      <a [routerLink]="link.path" routerLinkActive="a-is-selected"
        >&lt;!{{ link.label }}&gt;</a
      >
    </ng-container>
    <div class="search-card">
      <button class="search-button">
        <span class="strange-thing material-icons">search</span>
      </button>

      <div class="search-container">
        <input
          #searchInput
          placeholder="Ctrl + F"
          class="search-input"
          ripple
          (focus)="addRippleEffect()"
          (input)="onSearchInputChange(searchInput.value)"
          (keydown.enter)="onSearchSubmit(searchInput.value)"
        />

        <app-drop-down *ngIf="isExploreRoute"></app-drop-down>
      </div>
      <div class="search-container-suggestions">
        <div
          class="search-container-suggestions-sugestion"
          *ngFor="let suggestion of autocompleteSuggestions; let i = index"
          [class.selected]="i === selectedIndex"
          (click)="onSuggestionClick(suggestion)"
        >
          {{ suggestion }}
        </div>
      </div>
    </div>
  </div>
</nav>
