// Define some variables for colors and sizes
$white: #ffff;
$black: #000000;
$dark-gray: #010409;
$light-gray: #1a1c21;
$green: #50fa7b;
$font-size: 1.2rem;
$padding: 0.5rem 1rem;
$box-shadow-size: 2px 4px;

// Define a mixin for the box shadow effect
@mixin box-shadow($inset: false, $color: rgba(0, 0, 0, 0.1)) {
  @if $inset {
    box-shadow: inset 0 $box-shadow-size $color;
  } @else {
    box-shadow: 0 $box-shadow-size $color;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.navbar {
  overflow: hidden;
  background-color: #010409;
  align-items: center;
  font-family: "Fira Code", monospace;
}

.navbar a {
  // Add the flex property with a value of 1
  // This means each element will take up an equal amount of space
  flex: 1;
  // Remove the float property
  // This is not needed when using flex
  // float: left;
  display: block;
  color: #ffff; /* default color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative; /* add this line */
}


.navbar a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: transparent; /* default pseudo-border color */
  transition: background-color 0.3s ease;
}

.navbar a:hover:after {
  background-color: #50fa7b; /* default hover pseudo-border color */
}

.navbar a:nth-child(6):hover {
  color: #fcacc8; /* pink pastel */
}

.navbar a:nth-child(6):hover:after {
  background-color: #fcacc8; /* pink pastel pseudo-border */
}

.navbar a:nth-child(3):hover {
  color: #84b6f4; /* blue pastel */
}

.navbar a:nth-child(3):hover:after {
  background-color: #84b6f4; /* blue pastel pseudo-border */
}

// .navbar a:nth-child(6):hover {
//   color: #77dd77; /* green pastel */
// }

// .navbar a:nth-child(6):hover:after {
//   background-color: #77dd77; /* green pastel pseudo-border */
// }

.navbar a:nth-child(5):hover {
  color: #fdfd96; /* yellow pastel */
}

.navbar a:nth-child(5):hover:after {
  background-color: #fdfd96; /* yellow pastel pseudo-border */
}

.navbar a:nth-child(4):hover {
  color: #bc98f3; /* lilac pastel */
}

.navbar a:nth-child(4):hover:after {
  background-color: #bc98f3; /* lilac pastel pseudo-border */
}



.elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem; /* Add this line */
  border-radius: 50%;
  align-items: center;
  margin-right: 1.5rem;
  justify-content: center;
  background-color: #333; /* or any color you prefer */
}

.menu-button {
  // Use the Fira Code font
  margin-left:1rem;
  border-radius: 50%;
  font-family: "Fira Code", monospace;
  // Set the font size and color
  font-size: 0rem; // reduce the font size
  color: $white;
  // Remove the default appearance and border
  appearance: none;
  border: none;
  // Add some padding and background color
  padding: 0.25rem; // reduce the padding
  background-color: $dark-gray;
  // Add a subtle box shadow
  @include box-shadow();
  // Add a cursor pointer
  cursor: pointer;

  // Define the hover effect
  &:hover {
    // Change the background color to a lighter shade
    background-color: $light-gray;
  }

  // Define the active effect
  &:active {
    // Change the background color to a darker shade
    background-color: $black;
    // Add a inset box shadow
    @include box-shadow(true, rgba(107, 1, 1, 0.2));
  }

  // Define the focus effect
  &:focus {
    // Add a green outline
    outline: 2px solid $green;
  }
}
