<nav class="navbar default-border-top-bottom">
  <div class="elements">
    <button class="menu-button">
      <i class="material-icons">menu</i>
    </button>
    <div style="width: 1.5rem; height: 100%"></div>
    <a
      routerLink="/home"
      routerLinkActive="active"
      [ngClass]="{
        'a-is-selected': router.url === '/home'
      }"
      >&lt;!Home&gt;</a
    >
    <a
      routerLink="/recipes"
      routerLinkActive="active"
      [ngClass]="{
        'a-is-selected': router.url === '/recipes'
      }"
      >&lt;!Recipes&gt;</a
    >
    <a
      routerLink="/favourites"
      routerLinkActive="active"
      [ngClass]="{
        'a-is-selected': router.url === '/favourites'
      }"
      >&lt;!Favourites&gt;</a
    >
    <a
      routerLink="/add"
      routerLinkActive="active"
      [ngClass]="{
        'a-is-selected': router.url === '/add'
      }"
      >&lt;!Add&gt;</a
    >
    <div style="width: 1.5rem"></div>
    <div class="profile">
      <img style="z-index: 10" src="favicon.png" />
    </div>
  </div>
</nav>
