<nav class="navbar default-border-top-bottom">
  <div class="elements">
    <button class="menu-button">
      <i class="material-icons">menu</i>
    </button>
    <div style="width: 1.5rem; height: 100%"></div>
    <a routerLink="/home" routerLinkActive="active">&lt;!Home&gt;</a>
    <a routerLink="/recipes" routerLinkActive="active">&lt;!Recipes&gt;</a>
    <a routerLink="/favourites" routerLinkActive="active"
      >&lt;!Favourites&gt;</a
    >
    <a routerLink="/add" routerLinkActive="active">&lt;!Add&gt;</a>
    <div style="width: 1.5rem"></div>
    <div class="profile">
      <i class="material-icons">person </i>
    </div>
  </div>
</nav>
