<div class="recipe">
  <div class="recipe-set" *ngIf="!next">
    <div class="recipe-set-definition">
      <input class="recipe-name" type="text" placeholder="Recipe Name" />:
      <div>
        <button
          class="type-btn"
          id="1"
          (click)="selectType('Coffee')"
          [disabled]="selectedType === 'Coffee'"
        >
          Coffee
        </button>
        <button
          class="type-btn"
          id="2"
          (click)="selectType('Lunch')"
          [disabled]="selectedType === 'Lunch'"
        >
          Lunch
        </button>
        <button
          class="type-btn"
          id="3"
          (click)="selectType('Dinner')"
          [disabled]="selectedType === 'Dinner'"
        >
          Dinner
        </button>
        <button
          class="type-btn"
          (click)="selectType('Drink')"
          [disabled]="selectedType === 'Drink'"
        >
          Drink
        </button>
        <button
          class="type-btn"
          (click)="selectType('Others')"
          [disabled]="selectedType === 'Others'"
        >
          Others
        </button>
      </div>
    </div>
    <div class="recipe-set-definition">
      <input
        type="number"
        class="recipe-set-definition-input"
        placeholder="Serve"
        min="1"
        max="32"
        (change)="validateServe($event)"
      />
      <div class="recipe-set-definition-value">
        <input
          class="range"
          type="range"
          min="1"
          max="3"
          step="1"
          value="1"
          (change)="changeCost($event)"
        />
        <div *ngFor="let i of [].constructor(condition)">
          <i class="material-icons">paid</i>
        </div>
      </div>

      <div class="recipe-set-tags">
        <label><input type="checkbox" /> Vegan</label>
        <label><input type="checkbox" /> Vegetarian</label>
      </div>
      <div class="recipe-set-tags">
        <label><input type="checkbox" /> Gluten Free</label>
        <label><input type="checkbox" /> Lactose</label>
      </div>
      <div class="recipe-set-tags">
        <label><input type="checkbox" /> No Sugar</label>
        <label><input type="checkbox" /> Fitness</label>
      </div>
    </div>
  </div>

  <!-- recipe.component.html -->
  <div class="recipe-script" *ngIf="next">
    <div *ngFor="let section of sections; let sectionIndex = index">
      <input
        type="text"
        [(ngModel)]="section.name"
        placeholder="Section Name"
      />

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <div *ngFor="let ingredient of section.ingredients; let i = index">
          <div>
            <input
              type="text"
              [(ngModel)]="ingredient.name"
              placeholder="name"
            />:
            <input
              type="text"
              [(ngModel)]="ingredient.kind"
              placeholder="measurement"
            />
            =
            <input
              type="text"
              [(ngModel)]="ingredient.quantity"
              placeholder="quantity"
            />
            {{ ingredient.name }}
            {{ ingredient.quantity }}
          </div>
        </div>
        <button (click)="addIngredient(sectionIndex)">Add Ingredient</button>
      </div>
      <div class="prepare-mode">
        <h3>Prepare mode:</h3>
        <div *ngFor="let step of section.preparationSteps; let i = index">
          <div>Step {{ i + 1 }}: {{ step.description }}</div>
          <textarea class="test"></textarea>
        </div>
        <button (click)="addPreparationStep(sectionIndex)">
          Add Preparation Step
        </button>
      </div>
    </div>
    <button (click)="addSection()">Add Section</button>
  </div>

  <button class="btn-toggle" (click)="next = !next">
    <i *ngIf="!next" class="material-icons">arrow_forward</i>
    <i *ngIf="next" class="material-icons">arrow_back</i>
  </button>
</div>
