@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@import './app/themes/light-theme.scss';
@import './app/themes/dark-theme.scss';
@import './app/themes/anime/anime-theme-dark.scss';
@import './app/themes/anime/anime-theme-light.scss';


*{
  font-family: "Fira Code", monospace;
}

.material-icons {
  color: white;
}

body{
  margin:0;
  background-color: #0d1117;
  overflow: hidden;
  height: 100vh;
}

.default{
  &-border-all{
    border: 1px solid #30363d !important;
  }
  &-border-left{
    border-left: 1px solid #30363d !important;
  }
  &-border-right{
    border-right: 1px solid #30363d !important;
  }
  &-border-top-bottom{
    border-top: 1px solid #30363d;
    border-bottom: 1px solid #30363d;
  }
}

html, body { height: 100%; }
body { margin: 0; }
