/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
  font-family: "Fira Code", monospace;
}

.material-icons {
  color: white;
}

body{
  margin:0;
  background-color: #0d1117;
  overflow: hidden;
  height: 100vh;
}

.default{
  &-border-all{
    border: 1px solid #30363d !important;
  }
  &-border-left{
    border-left: 1px solid #30363d !important;
  }
  &-border-right{
    border-right: 1px solid #30363d !important;
  }
  &-border-top-bottom{
    border-top: 1px solid #30363d;
    border-bottom: 1px solid #30363d;
  }
}
