<div class="card">
  <div class="itens-card">
    <span class="card-itens-title">Items</span>
    <ul>
      <ng-container
        *ngFor="let section of recipe?.sections; let sectionIndex = index"
      >
        <li style="padding-bottom: 10px" *ngIf="section">
          <div
            (click)="toggleSection(sectionIndex)"
            style="cursor: pointer; font-weight: bold"
          >
            {{ section.name }}
          </div>
          <ul *ngIf="isSectionOpen(sectionIndex)">
            <ng-container *ngFor="let ingredient of section.ingredients">
              <li>
                {{ ingredient.name }}: {{ ingredient.quantity }}
                {{ ingredient.kind }}
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="card-instructions">
    <span class="card-instructions-title">Instructions</span>
    <div>
      <ng-container *ngFor="let step of allPreparationSteps; let i = index">
        <div class="section-instructions">
          <div class="card-instructions-list">
            <div class="card-instructions-enumeration">{{ i + 1 }}</div>
            <div class="card-instructions-text">{{ step }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="img-card">
    <img [src]="recipe?.image" />
  </div>

  <div class="info-card">
    <div class="info-card-head">
      <div class="info-card-head-profile">
        <img src="../../../assets/Img/Logo.jpg" />
        <div style="width: 100%">
          <div class="info-card-head-profile-main">
            <div class="info-card-head-profile-name">nome</div>
            <div class="info-card-head-profile-level">11</div>
          </div>
          <div class="info-card-head-profile-badges">teste</div>
        </div>
      </div>
    </div>

    <div class="info-card-content">
      <div *ngFor="let content of charts" style="width: 90%">
        <div class="bar-name">{{ content.name }}</div>
        <div class="bar-container">
          <div
            class="bar"
            [style.width.%]="content.level * 10"
            (mouseover)="hover = true"
            (mouseout)="hover = false"
          >
            <div *ngIf="hover" class="bar-level">{{ content.level * 10 }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="info-card-footer">
      <div class="info-card-footer-reference">
        <i class="material-icons info-card-footer-reference-icon"
          >monetization_onmonetization_onmonetization_on</i
        >
        <div>
          <i class="material-icons info-card-footer-reference-icon-2">group</i
          >|6
        </div>
      </div>
      <div class="info-card-footer-tags">
        <span class="material-icons info-card-footer-tags">cruelty_free</span>
        <span class="material-icons info-card-footer-tags">eco</span>
        <span class="material-icons info-card-footer-tags">🐮</span>
        <span class="material-icons info-card-footer-tags">favorite</span>
        <span class="material-icons info-card-footer-tags">fitness_center</span>
      </div>
    </div>
  </div>
</div>
