$card-color: #282a36;
$primary-color: #50fa7b;
$secondary-color: #fff;
$background-color: rgba(0, 0, 0, 0.9);
$coffee-color: #b47757;
$lunch-color: #f7eb3c;
$dinner-color: #85c1e9;
$drinks-color: #e79b0c;
$others-color: #f5b7b1;

@mixin recipe-card-styles($border-color, $box-shadow) {
  border-color: $border-color;
  box-shadow: 0 0 10px $box-shadow;
  transition: border-color 0.5s, box-shadow 0.5s;

  &:hover {
    border-color: darken($border-color, 20%);
    box-shadow: 0 0 10px darken($box-shadow, 20%);
  }
}

.most-rated-recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $card-color;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;
  width: 95%;
  height: 70%;
  position: relative;

  &.Coffee {
    @include recipe-card-styles($coffee-color, $coffee-color);
  }

  &.Lunch {
    @include recipe-card-styles($lunch-color, $lunch-color);
  }

  &.Dinner {
    @include recipe-card-styles($dinner-color, $dinner-color);
  }

  &.Drinks {
    @include recipe-card-styles($drinks-color, $drinks-color);
  }

  &.Others {
    @include recipe-card-styles($others-color, $others-color);
  }
}

.recipe-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: $background-color;
  color: $secondary-color;
}

img {
  // margin-top: -20%;
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.recipe-name,
.recipe-likes {
  padding: 15px;
}
